services:
  web:
    image: nginx:latest
    volumes:
      - ./:/var/www
      - ./docker/development/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    networks:
      - laravel-development
    # Megvárja, hogy létrejöjjön a php-fpm
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: .
      dockerfile: ./docker/common/php-fpm/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        XDEBUG_ENABLED: false
    env_file:
      - .env
    user: "${UID:-1000}:${GID:-1000}"
    # Ebben nem vagyok biztos, hogy nem-e ./:var/www/public
    volumes:
      - ./:/var/www
    networks:
      - laravel-development
    # Megvárja, hogy létrejöjjön a postgres
    depends_on:
      - postgres

  workspace:
    build:
      context: .
      dockerfile: ./docker/development/workspace/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        XDEBUG_ENABLED: false
    # Teletype: virtuális terminál, hogy majd a php artisan és ezeket tudjam használni
    tty: true
    # Hogy be lehessen lépni a containerbe majd
    stdin_open: true
    env_file:
      - .env
    # Ebben nem vagyok biztos, hogy nem-e ./:var/www/public
    volumes:
      - ./:/var/www
    networks:
      - laravel-development

  postgres:
    image: postgres:16
    ports:
      - "${PSQL_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: $(PSQL_DB}
      POSTGRES_USER: ${PSQL_UNAME}
      POSTGRES_PASSWORD: ${PSQL_PASS}
      # A custom postgresql.conf betöltése
    volumes:
      - postgres-data-development:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql.conf:ro
     # A custom postgresql.conf betöltése command
    command: postgres -c config_file=/etc/postgresql.conf
    networks:
      - laravel-development

  redis:
    image: redis:alpine
    networks:
      - laravel-development

networks:
  laravel-development:

volumes:
  postgres-data-development:
